
*.json
*.cmake
*.txt
*.bin
*.out
*.o
*.includecache
*.internal
*.make
*.check_cache
*.log
cpp/bob/CMakeFiles/Makefile2
*.marks
*.hpp
cpp/bob/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp/bob/bob
cpp/bob/Makefile
cpp/bob/test/tests-main.cpp
cpp/gigasecond/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp/gigasecond/CMakeFiles/Makefile2
cpp/gigasecond/gigasecond
cpp/gigasecond/Makefile
cpp/hamming/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp/hamming/CMakeFiles/Makefile2
cpp/hamming/hamming
cpp/hamming/Makefile
cpp/hamming/test/tests-main.cpp
cpp/test
cpp/test.cpp
